div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: black
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}